{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <div class = "frame">
                <button class="custom-btn btn-7"><a href="{% url 'recipe_list' %}"><strong>Main page</strong></a></button>
                <button class="custom-btn btn-7"><a href="{% url 'edit_recipe' recipe_object.id %}"><strong>Edit recipe</strong></a></button>
            </div>
        </nav>
    </header>

    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}"> <!-- alt = ""?-->
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <p>{{ recipe.created_on|date:"F j, Y" }}</p>
        {% comment %} <p>{{ recipe_object.prep_time }}</p>
        <p>{{ recipe_object.cook_time }}</p>
        <p>{{ recipe_object.serving_size }}</p> {% endcomment %}
        <h2>Ingredients</h2>
        <table class = "ingredients-table">
            <thead>
                <tr>
                <th><strong>Amount</strong></th>
                <th><strong>Food item</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
{% endblock content %}
