{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <div class = "frame">
                <button class="custom-btn btn-7"><a href="{% url 'recipe_list' %}"><strong>Main page</strong></a></button>
            </div>
        </nav>
    </header>

    <main>
        <h1>Update a Recipe!</h1>
        <form method="post">    <!-- The form tag will make an HTTP POST (because of method="post") back to the same URL. -->
            {% csrf_token %}    <!-- The form.as_p creates all of the HTML for the fields that we defined on the RecipeForm. -->
            {{ form.as_p }}     <!-- The csrf_token creates a hidden input tag that contains a security token. -->
            <button type="submit">Update recipe</button>
        </form>
    </main>
{% endblock content%}
