<!-- list.html: Contains what the "main" page of a recipe site would look like. -->
{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content%}
    <header>
        <nav>
            <div class = "frame">
                <button class="custom-btn btn-7"><a href="{% url 'recipe_list' %}"><strong>Main page</strong></a></button>

                {% if user.is_authenticated %}
                    <button class="custom-btn btn-7"><strong>Hello, {{ user.username }}!</strong></a></button>
                    <button class="custom-btn btn-7"><a href="{% url 'create_recipe' %}"><strong>Create a recipe</strong></a></button>
                    <button class="custom-btn btn-7"><a href="{% url 'user_logout' %}"><strong>Logout</strong></a></button>
                {% else %}
                    <button class="custom-btn btn-7"><a href="{% url 'signup' %}"><strong>Sign up</strong></a></button>
                    <button class="custom-btn btn-7"><a href="{% url 'user_login' %}"><strong>Login</strong></a></button>
                {% endif %}

            </div>
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div class="{% cycle 'recipe-item' 'recipe-item' 'recipe-item highlight' %} recipe-{{ recipe.id }}">
                <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <img src="{{ recipe.picture }}">
                <div>4.3 stars</div>
                <p>{{ recipe.created_on|date:"F j, Y" }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}


 <!-- Things to improve:
1. fix signin user note

-->
