{% extends 'base.html' %}

{% block title %}
Sign Up! - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
  <nav>
    <button class="custom-btn btn-7"><a href="{% url 'recipe_list' %}"><strong>Main page</strong></a></button>
    <button class="custom-btn btn-7"><a href="{% url 'user_login' %}"><strong>Login</strong></a></button>
  </nav>
</header>
<main>
  <h1>Sign up!</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Sign up</button>
  </form>
</main>
{% endblock content %}
